<!doctype html>
<html lang="en" ng-app="blog">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>    
    
    <script src="includes/js/jquery-1.12.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script src="includes/js/controllers.js"></script>
    <base href="/">
</head>
<body ng-controller="postsListController" class="fullbleed layout vertical">
    <div id="main" style="padding-left: 15px; padding-right: 15px; height:2000px;">
        <a href="/">Posts</a>
        <a href="/test">Tests</a>
        <div ng-view></div>
    </div>
</body>
</html>
